<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
         <title> Another Flask Page </title>
    </head>

    <body>
        <!--
            The following line of code below allows the template engine (Jinja 2) to read contents
            from another HTML file and load it into the current file. (Think object orientated a bit here,
            you're taking the information from another "object" and loading it into the current "object.")

            In order to include another html file follow the format below on line 16.
        -->
        {% include 'header.html' %}

        <p>{{ body_content }}</p>
        
        <!--
            If statements can also work in templating, they work pretty much the exact same way as in any
            other programming languages.
        -->

        {% if show_link %}
        <a href="clean-variables">Cleaner Way to Do Variables!</a>
        {% endif %}
    </body>
</html>
