{% extends "base.html" %}

{% block title %}Pokemon List{% endblock %}

{% block body %}

	<div class="row marketing">

		<div class="col-md-6">

			<h3>List of Pokemons</h4>

			{% if pokemons %}
				<ul>
					{% for pokemon in pokemons %}
						<li> {{pokemon.name}} |	{{pokemon.element}}</li>	
					{% endfor %}
				</ul>
			{% else %}
				Sorry, you ain't got no pokemons
			{% endif %}

			<h3>Form to add new pokemon</h3>

			<!--form to add pokemons-->
			<form action="/add_pokemon" method="POST">
				<input type="text" name="name" value="Name">
				<input type="text" name="element" value="Element">
				<input type="submit" value="Add Pokemon">
			</form>


			<h3>Delete pokemons</h3>

			<form action="/delete_pokemons" method="POST">
				<input type="submit" value="Delete Pokemon">
			</form>




		</div>
	</div>

{% endblock %}

		
